<div class='card'>
    <div class='card-header'>
        {{productListTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]="listFilter" placeholder="Enter Product Name " />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h4>Filtered by: {{listFilter}} </h4>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table table-bordered' *ngIf="products.length">
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleImage()'>{{showImage?'Hide':'Show'}} Image
                            </button>
                        </th>
                        <th>Product </th>
                        <th>Category</th>
                        <!-- <th>Description</th> -->
                        <th>Price</th>
                        <th>5 Star Rating</th>
                        <!-- <th>Count</th> -->
                    </tr>
                </thead>
                <tbody>
                    <!-- This tr is for product from -->
                    <tr *ngFor="let item of filteredProducts">
                        <!-- Notes: [src]=""/ src={{}} possible where [] is property binding -->
                        <td>
                            <img *ngIf="showImage" src={{item.image}} alt="" srcset="" [style.width.px]="imageWidth"
                                [title]="item.title">
                        </td>
                        <td> <a [routerLink]="['/products',item.id]">{{item.title | uppercase}}</a></td>
                        <td>{{item.category | titlecase | convertToSpace:'-' }} </td>
                        <!-- <td>{{item.description}}</td> -->
                        <td>{{item.price | currency:'EUR' }}</td>
                        <td>
                            <!-- nesting component inside component -->
                            <app-rating-stars [rating]="item.rating.rate"></app-rating-stars>
                        </td>
                        <!-- <td>{{item.rating.count}}</td> -->

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class='alert alert-danger'>

</div>